:root{
    --cor-brancao:#ffffff;
    --cor-branca: #ADB7C9;
    --cor-cinza: #626567;
    --cor-preto: #000000;
    --cor-verde: #99D251;
    --cor-verde-escuro: #23650B;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter';
    background-color: #262C36;
}
h1{
    text-transform: uppercase;
}
li{
    list-style: none;
}

.container__inicio {
    display: flex;
    justify-items: center;
    justify-content: center;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #262C36;
}
.container__inicio a {
    padding: 0px 70px;
    text-decoration: none;
    color: var(--cor-branca);
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out;
}
.container__inicio a:hover {
    color: var(--cor-preto);
}
hr.rounded {
    width: 100%;
    border: 1px solid var(--cor-preto);
    color: var(--cor-verde-escuro);
    backdrop-filter: blur(2px);
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
    color: var(--cor-branca);
    max-width: 1200px;
}
.container__texto li{
    margin-bottom: 20px;
    list-style: none;
}

#lista1 {
    color: var(--cor-brancao);
    font-size: 60px;
    font-weight: bold;
}
#lista2 {
    color: var(--cor-branca);
    font-size: 30px;
    font-weight: bold;
    padding-left: 50px;
}

.container__imagem {
    border-radius: 78px;
    box-shadow: 5px 5px 10px 0px var(--cor-preto);
}

button {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    width: 120px;
    margin-left: 150px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--cor-branca);
    cursor: pointer;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
button:hover {
    box-shadow: 0 0 40px 40px var(--cor-cinza) inset;
}

.container__sobre {
    display:block;
    align-items: center;
}
.texto__sobre {
    text-align: end;
    color: var(--cor-branca);
}

.sobre {
    padding-bottom: 60px;
}

.sobre__texto {
    text-align: center;
    font-size: 20px;
    color: var(--cor-brancao);
}
.rounded__sobre {
    width: 120px;
    margin-left: 600px;
    border: 1px solid var(--cor-preto);
    backdrop-filter: blur(2px);
    margin-bottom: 20px;
}
.portfolio__texto {
    text-align: center;
    font-size: 20px;
    color: var(--cor-branca);
}
.rounded__portfolio {
    width: 120px;
    margin-left: 50px;
    border: 1px solid var(--cor-preto);
    backdrop-filter: blur(2px);
    margin-bottom: 20px;
}

.portfolio__estudos {
    text-align: start;
    font-size: 15px;
    margin-left: 100px;
    color: var(--cor-branca);
}

.rounded__estudos {
    width: 100px;
    margin-left: 20px;
    border: 1px solid var(--cor-preto);
    backdrop-filter: blur(2px);
    margin-bottom: 20px;
}
.container li{
    list-style: none;
}
.imagem__estudos{
    max-width: 100%;
   }
   li {
    margin: 15px;
   }
   li img{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    border-radius: 10%;
    box-shadow: 5px 5px 10px 0px var(--cor-preto);
   }
   li img:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.2);
   }
.imagem__estudos {
    cursor: pointer;
}
li p {
    margin-top: 20px;
}

.contact__texto {
    text-align: center;
    font-size: 20px;
    color: var(--cor-branca);
}
.rounded__contact {
    width: 120px;
    margin-left: 50px;
    border: 1px solid var(--cor-preto);
    backdrop-filter: blur(2px);
    margin-bottom: 20px;
}
.container__contato {
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 50px;
}
.container__contact {
    border-radius: 20px;
    text-align: center;
    margin: 70px;
    background-color: var(--cor-cinza);
    box-shadow: 5px 5px 10px 0px var(--cor-preto);
}
.container__descricao {
    margin-top: 20px;
}
.container__social {
    display: flex;
    align-items: center;
    justify-items: baseline;
}

/* Animação */

[data-anime] {
    opacity: 0;
    transition: .8s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* Responsive */

@media screen and (max-width: 800px){
    .container__inicio{
        display: flex;
        flex-wrap: wrap;
    }
    .container, #lista1, #lista2, .sobre, p{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
        padding: 20px;
    }
    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
        padding: 5px;
    }
    .rounded__sobre {
        margin:auto;
    }
    .container__social {
        width: auto;
    }
}